li {
    border: 1px solid #BF2600;
    padding: 20px;
    border-radius: 4px;
    list-style-type: none;
    margin: 5px;
    background-color: #172B4D;
    color: white;
    font-size: 16px;
    font-weight: 700;
    max-width: 400px;
}